.header {
  text-align: center;
  margin: 0;
}

.nav-bar {
  background: #1976d2;
  color: white;
  margin: 0;
  padding: 16px;
}

.app-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  margin-top: 40px;
}

h2 {
  color: #444;
  margin-top: 20px;
}
